force-app/main/default/flows/CreateReservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Chosen_Room_Id</name>
        <label>Assign Chosen Room Id</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ChosenRoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chosen_Room_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Chosen_Room_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chosen_Room_Price</name>
        <label>Assign Chosen Room Price</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ChosenRoomPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chosen_Room_Loop.Price_Per_Night__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Chosen_Room_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_isApartmentReservedOnProvidedDate_to_True</name>
        <label>Change isApartmentReservedOnProvidedDate to True</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>isApartmentReservedOnProvidedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apartment_Reservations_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Chosen_Room</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Chosen Room</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Get_Chosen_Room</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Rooms</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Chosen_Room.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>RoomChoice</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Chosen_Room_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_isApartmentReservedOnProvidedDate_is_true</name>
        <label>Check if isApartmentReservedOnProvidedDate is true</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Price_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Variable equals false</defaultConnectorLabel>
        <rules>
            <name>Variable_equals_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isApartmentReservedOnProvidedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reservation_Date_Not_Available</targetReference>
            </connector>
            <label>Variable equals true</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfIsApartmentReservedOnProvidedDate</name>
        <label>Check if is apartment reserved on provided date</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Apartment_Reservations_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apartment_is_reserved</name>
            <conditionLogic>7 AND ((1 AND 2) OR (3 AND 4) OR (5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>RentFromDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Apartment_Reservations_Loop.DateFrom__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RentFromDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Apartment_Reservations_Loop.DateTo__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RentToDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Apartment_Reservations_Loop.DateFrom__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RentToDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Apartment_Reservations_Loop.DateTo__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RentFromDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Apartment_Reservations_Loop.DateFrom__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RentToDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Apartment_Reservations_Loop.DateTo__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Apartment_Reservations_Loop.ApartmentRoom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChosenRoomId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_isApartmentReservedOnProvidedDate_to_True</targetReference>
            </connector>
            <label>Apartment is reserved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RoomChoices</name>
        <collectionReference>Get_Rooms</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ApartmentRoom__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ReservationPrice</name>
        <dataType>Currency</dataType>
        <expression>{!ChosenRoomPrice}*({!RentToDate}-{!RentFromDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Reservation</label>
    <loops>
        <name>Apartment_Reservations_Loop</name>
        <label>Apartment Reservations Loop</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Apartment_Reservations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIfIsApartmentReservedOnProvidedDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_isApartmentReservedOnProvidedDate_is_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Chosen_Room_Loop</name>
        <label>Chosen Room Loop</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Chosen_Room</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Chosen_Room_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Apartment_Reservations_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateReservation</name>
        <label>Create Reservation</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <inputAssignments>
            <field>ApartmentRoom__c</field>
            <value>
                <elementReference>RoomChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apartment__c</field>
            <value>
                <elementReference>apartmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateFrom__c</field>
            <value>
                <elementReference>RentFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateTo__c</field>
            <value>
                <elementReference>RentToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>ReservationPrice</elementReference>
            </value>
        </inputAssignments>
        <object>ApartmentReservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Apartment</name>
        <label>Get Apartment</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Apartment_Reservations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apartmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apartment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Apartment_Reservations</name>
        <label>Get Apartment Reservations</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rooms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apartment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apartmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApartmentReservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rooms</name>
        <label>Get Rooms</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReserveThisApartment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apartment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apartmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApartmentRoom__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Price_Information</name>
        <label>Price Information</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>CreateReservation</targetReference>
        </connector>
        <fields>
            <name>PriceInfoText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Price information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Price of the reservation is {!ReservationPrice}. Do you want to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reservation_Date_Not_Available</name>
        <label>Reservation Date Not Available</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>ReservationDateNotAvailableText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Reservation date is not available&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The reservation date is not available. Please check available dates using filters.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReserveThisApartment</name>
        <label>Reserve This Apartment</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chosen_Room</targetReference>
        </connector>
        <fields>
            <name>RoomChoice</name>
            <choiceReferences>RoomChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Room</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RentFromDate</name>
            <dataType>Date</dataType>
            <fieldText>Rent from date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot rent an apartment from the earlier day than today.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!RentFromDate} &gt;= TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RentToDate</name>
            <dataType>Date</dataType>
            <fieldText>Rent to date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Ending date cannot be earlier than starting date and duration of rental cannot be longer than 30 days.&lt;/p&gt;</errorMessage>
                <formulaExpression>({!RentToDate} &gt; {!RentFromDate}) &amp;&amp;
({!RentToDate} - {!RentFromDate} &lt; 30)</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>Success Message</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Success! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The reservation has been booked.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Apartment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>apartmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChosenRoomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChosenRoomPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Get_Chosen_Room</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApartmentRoom__c</objectType>
    </variables>
    <variables>
        <name>isApartmentReservedOnProvidedDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
